[submodule "apps/wrapper"]
  path = apps/wrapper
  url = https://github.com/ranokay/wrapper.git
  branch = arm64

[submodule "apps/apple-music-downloader"]
	path = apps/apple-music-downloader
	url = https://github.com/ranokay/apple-music-downloader.git
